<nav class="navbar navbar-default navbar-fixed-top navbar-header">  
    <div class="container-fluid">
      
    <% if current_user %>
      <h2> Welcome <%= current_user.name %> !</h2> 
      <%= link_to "Logout", logout_path, method: :delete %>
    <% else %>
      <%= button_to "Sign in with Github", login_path %>
    <% end %>
    </div>
  </nav>
  
  
